body {
  font-family: 'Open Sans', sans-serif;
  background-color: #161616;
  color: antiquewhite;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

h1 {
  font-weight: normal;
  letter-spacing: -1px;
  color: #34495E; }

h5 {
  font-weight: 800;
  font-size: 1.5em; }

#title-area {
  max-width: 300px;
  margin: auto; }

#subtitle {
  text-align: center; }

#user-interface {
  max-width: 1000px;
  margin: auto;
  max-height: 70px;
  text-align: center; }

.ui-control {
  margin-top: 10px;
  padding: .375rem .75rem;
  height: 40px; }

#main-table {
  border-collapse: separate; }

th {
  padding: 0.8em 1.5em 0.8em 1.5em;
  text-shadow: 0.5px 0.5px 0.2px #afafaf85;
  text-transform: uppercase; }

td {
  padding: 10px;
  vertical-align: initial; }

td:first-child {
  font-size: 1.4em;
  color: #ff7300;
  font-weight: bold;
  text-shadow: 1px 1px black; }

img {
  width: 100%; }

a {
  text-align: center;
  color: #ffcd27;
  font-family: Helvetica; }

a:hover {
  cursor: pointer;
  text-decoration: underline; }

@keyframes draw1 {
  0% {
    stroke-dasharray: 300;
    stroke-dashoffset: 700;
    stroke-width: 4px; }
  75% {
    stroke-dasharray: 900;
    stroke-width: 1px; }
  100% {
    stroke-dasharray: 900;
    stroke-width: 1px; } }
@keyframes draw2 {
  0% {
    stroke-dashoffset: 350;
    stroke-dasharray: 350; }
  50% {
    stroke-dashoffset: 600;
    stroke-dasharray: 400;
    stroke-width: 1px; }
  100% {
    stroke-dashoffset: 900;
    stroke-dasharray: 400;
    stroke-width: 1px; } }
@keyframes draw3 {
  100% {
    transform: scale(1.35); } }
.highlight .button {
  display: inline-block;
  color: #fff;
  background: darkred;
  margin-top: 10px;
  width: 130px;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  border: 1px solid white; }

.highlight .button:before {
  content: "";
  position: absolute;
  top: -30px;
  left: -80px;
  height: 100px;
  width: 70px;
  background: rgba(255, 255, 255, 0.7);
  transform: rotate(20deg); }

.highlight .button:hover:before {
  left: 150px;
  transition: all .5s;
  text-decoration: underline; }

.highlight {
  margin-bottom: 100px; }

.highlight .page-button {
  background: #3683ff; }

.rwd-table {
  margin: 1em 0;
  min-width: 300px; }
  .rwd-table tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd; }
  .rwd-table th {
    display: none; }
  .rwd-table td {
    display: block; }
    .rwd-table td:first-child {
      padding-top: .5em; }
    .rwd-table td:last-child {
      padding-bottom: .5em; }
    .rwd-table td:before {
      content: attr(data-th) ": ";
      font-weight: bold;
      width: 6.5em;
      display: inline-block; }
      @media (min-width: 480px) {
        .rwd-table td:before {
          display: none; } }
  .rwd-table th,
  .rwd-table td {
    text-align: left; }
    @media (min-width: 480px) {
      .rwd-table th,
      .rwd-table td {
        display: table-cell;
        padding: .25em .5em; }
        .rwd-table th:first-child,
        .rwd-table td:first-child {
          padding-left: 0; }
        .rwd-table th:last-child,
        .rwd-table td:last-child {
          padding-right: 0; } }

.rwd-table {
  background: #34495E;
  color: #fff;
  border-radius: .4em;
  overflow: hidden; }
  .rwd-table tr {
    border-color: #46637f; }
  .rwd-table th,
  .rwd-table td {
    margin: .5em 1em; }
    @media (min-width: 480px) {
      .rwd-table th,
      .rwd-table td {
        padding: 1em !important; } }
  .rwd-table th,
  .rwd-table td:before {
    color: #dd5; }

/*# sourceMappingURL=style.css.map */
